@import "~@angular/material/theming";
@include mat-core();

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-purple, 400);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

:root {
  --main-bg-color: #70458a;
}

html,
body {
  height: 100%;
  font-size: 10px !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.main-btn {
  height: 6.05rem !important;
  min-width: 19.2rem !important;
  background: linear-gradient(254.98deg, #ffa598 21.15%, rgba(255, 226, 205, 0) 74.95%), #b466c0;
  border-radius: 32px !important;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  height: 6.4rem !important;
  align-items: center;
}

.mat-form-field {
  background: #f4edf5;
  border-radius: 3.2rem;
  overflow: hidden;
  width: 100%;
  font-size: 14px;

  .mat-form-field-prefix {
    margin-right: 0.3rem;
  }

  .mat-form-field-wrapper {
    padding: 0;
    margin: 0 !important;
  }

  .mat-form-field-outline-start {
    border-radius: 3.2rem 0 0 3.2rem !important;
    min-width: 3.2rem !important;
    border-color: white;
  }

  .mat-form-field-outline-end {
    border-radius: 0 3.2rem 3.2rem 0 !important;
  }
}


.mat-expansion-panel-body {
  padding: 0 !important;
}