<div class="dialog_wrapper">
   <h2>Add new site</h2>
   <form [formGroup] = 'addWebsiteFormGroup'>
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element clear">
            <!-- <mat-label>Link</mat-label> -->
            <input matInput placeholder="Link" formControlName="link">
         </mat-form-field>
      </div>
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element clear">
            <!-- <mat-label>Name</mat-label> -->
            <input matInput placeholder="Name" formControlName="name">
         </mat-form-field>
      </div>
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element clear">
            <!-- <mat-label>Description</mat-label> -->
            <input matInput placeholder="Description" formControlName="description">
         </mat-form-field>
      </div>

   </form>
   <button mat-button class="main-btn" (click)="addNewWebsite()">Add New Site</button>
</div>