<div class="auth-component-block">
   <h2 class="block_headline">Sign in Now</h2>
   <p class="block_paragraph">Enter personal details to your employee account</p>

   <form class="form-wrapper">
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <mat-label>Your email</mat-label>
            <img matPrefix src="assets/img/email_prefix.png" class="input-prefix">
            <input matInput placeholder="Placeholder">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <mat-label>Your password</mat-label>
            <img matPrefix src="assets/img/password_prefix.png" class="input-prefix">
            <input matInput placeholder="Placeholder">
         </mat-form-field>
      </div>

      <button mat-button class="main-btn">Sign in</button>
   </form>
</div>