<div class="auth-component-block">
   <p class="toggle_btn" (click)="toSignUp()">Sign up</p>
   <h2 class="block_headline">Sign in Now</h2>
   <p class="block_paragraph">Enter personal details to your employee account</p>

   <form class="form-wrapper" [formGroup] = 'loginFormGroup'>
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <img matPrefix src="assets/img/email_prefix.png" class="input-prefix">
            <input matInput placeholder="Placeholder" formControlName="email">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <img matPrefix src="assets/img/password_prefix.png" class="input-prefix">
            <input matInput placeholder="Placeholder" formControlName="password">
         </mat-form-field>
      </div>

      
      <button type="button" mat-button class="main-btn" (click)="onSubmitLoginForm()">Sign in</button>
   </form>
   <p class="error_msg" *ngIf="error_msg">{{error_msg}}</p>
</div>