<div class="scroll_wrapper">
   <div class="information-block">
      <div class="website_name">
         <h2>{{websiteData.name}}</h2>
         <p class="description">{{websiteData.description}}</p>
      </div>

      <div class="websites_stats">
         <h3 class="users_count">{{websiteData.passed_count}}</h3>
         <img src="assets/img/peoples.png">
      </div>
   </div>

   <div class="recomendation_list">
      <mat-accordion>
         <mat-expansion-panel hideToggle #panel *ngFor="let property of websiteData.answers">
            <mat-expansion-panel-header class="website_list_element">

               <h3>{{property.propertyName}}</h3>

               <p class="score">{{+property.average}}</p>

               <img class="icon" src="assets/img/star.png">

               <div class="arrow">
                  <img *ngIf="panel.expanded" src="assets/img/close_p.png">
                  <img *ngIf="!panel.expanded" src="assets/img/open_p.png">
               </div>
            </mat-expansion-panel-header>
            <div class="accordion_content">
               <div class="score">
                  <h1>{{+property.average}}</h1>
                  <p>Valuation</p>
               </div>
               <div class="detail_info">
                  <div class="detail_info_more_stats">
                     <h3>Detail statistics</h3>
                     <div class="stats_table">
                        <div class="stats_ceil">
                           <p>1</p>
                           <img src="assets/img/star.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p>2</p>
                           <img src="assets/img/star.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p>3</p>
                           <img src="assets/img/star.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p>4</p>
                           <img src="assets/img/star.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p>5</p>
                           <img src="assets/img/star.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p class="users_count">{{property.oneCount}}</p>
                           <img src="assets/img/peoples.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p class="users_count">{{property.twoCount}}</p>
                           <img src="assets/img/peoples.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p class="users_count">{{property.threeCount}}</p>
                           <img src="assets/img/peoples.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p class="users_count">{{property.fourthCount}}</p>
                           <img src="assets/img/peoples.png" class="small_icon">
                        </div>
                        <div class="stats_ceil">
                           <p class="users_count">{{property.fivesCount}}</p>
                           <img src="assets/img/peoples.png" class="small_icon">
                        </div>
                     </div>
                  </div>
                  <div class="recomendation_info">
                     <h3>Recomendations</h3>
                     <p class="recomendation_text">{{property.recomendation}}
                     </p>
                  </div>

               </div>
            </div>
         </mat-expansion-panel>
      </mat-accordion>
   </div>
</div>