<div class="auth-component-block">
   <h2 class="block_headline">Sign in Now</h2>

   <form class="form-wrapper">
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <mat-label>Your email</mat-label>
            <input matInput placeholder="Placeholder">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <mat-label>Your email</mat-label>
            <input matInput placeholder="Placeholder">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <mat-label>Your email</mat-label>
            <input matInput placeholder="Placeholder">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <mat-label>Your password</mat-label>
            <input matInput placeholder="Placeholder">
         </mat-form-field>
      </div>

   </form>

   <button mat-button class="main-btn">Sign in</button>

</div>