.auth-component-block {
   background-color: white;
   width: 113.2rem;
   min-height: 44rem;
   border-radius: 2.4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;

   .toggle_btn {
      position: absolute;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #70458a;
      cursor: pointer;
      top: 4rem;
      right: 10rem;
   }

   .block_headline {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 800;
      font-size: 36px !important;
      color: #150220;
      margin: 5rem 0 3.5rem 0;
   }

   .form-wrapper {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 3.2rem 8.4rem; 
      align-items: center;
      gap: 3rem;
      margin-bottom: 2rem;

      .auth_input {
         width: 35.2rem;
         display: flex;
      }
   }

   .error_msg {
      align-self: center !important;
      margin: 0 0 1rem 0 !important;
   }
}
