<div class="auth-component-block">
   <h2 class="block_headline">Sign in Now</h2>

   <form class="form-wrapper" [formGroup] ='registerFormGroup'>
      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <input matInput placeholder="Email" formControlName="email">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <input matInput placeholder="Name" formControlName="name">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <input matInput placeholder="Password" formControlName="password">
         </mat-form-field>
      </div>

      <div class="auth_input">
         <mat-form-field appearance="outline" class="input_element">
            <input matInput placeholder="Confirm password" formControlName="submit_password">
         </mat-form-field>
      </div>

   </form>

   <button mat-button class="main-btn" (click)="onSubmitReigsterForm()">Sign in</button>

</div>